.container {
  margin: 15px;
  background-color: #F2F2F2;

  &__form {
    // border: 1px solid black;
    // height: 100px;


    &__title-description {
      background-color: white;
      border: 1px solid gray;
      margin-left: 15%;
      margin-right: 15%;
      // height: 50px;
      margin-bottom: 5px;
      display: flex;
      flex-direction: column;
      border-radius: 3px;
      padding: 20px;
    }

    &__questions {
      width: 100%;
      display: flex;

      // border: 1px solid yellowgreen;

      &__data {
        background-color: white;
        display: flex;
        width: 67.2%;
        border: 1px solid gray;
        border-radius: 3px;
        padding: 20px;
        margin-left: 15%;
        // margin-right: 10%;

        &__form {
          // display: flex;
          // flex-direction: column;
          width: 100%;
          &__box {
            width: 100%;
            // border: 1px solid yellowgreen;
            display: flex;
            justify-content: space-between;
            &__field {
              width: 60%;
              // border: 1px solid black;
            }
            &__ques-type {
              width: 22%;
              // border: 1px solid black;
            }
          }
          &__answers {
            display: flex;
            border: 1px solid red;
            display: flex;
            align-items: center;
            width: 55%;
            &__field {
              margin-left: 10px;
              width: 100%;
            }
          }
        }

      }
      &__button {
        margin-left: 15px;
        width: 40px;
        height: 40px;
        // border: 1px solid red;
        // background-color: #005BA9;
        background-color: white;
        button {
          color: #005BA9;
        }
      }
    }



  }



}
